/* Control overall basic config */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::after, ::before{
    box-sizing: border-box;
}
body{
    font-family: 'TATSanaSuksa';
    font-weight: bold;
}
h1{
    font-size: 48px;
    color: #E6332A;
    font-weight: 700;
    line-height: 84.6px;
}
h2{
    font-size: 36px;
    line-height: 64.8px;
    color: #E6332A;
    font-weight: 700;
}
div#header{
    width: 100%;
    display: block;
}
/* Top navigator */
nav{
  z-index: 1;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  background-color: #fff; 
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75); 
}

nav > ul{
    padding: 20px;
}

nav > ul li{
    display: inline;
    list-style: none;
    margin: 12px;
}

nav > ul li a{
    text-decoration: none;
    color: #333333;
}

/* Header */
header{
    z-index: 0;
    width: 100%;
    height: 350px;
    top: 0;
    left: 0;
    margin-top: 50px;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

header div.header-el{
    /* display: inline-block; */
    margin: 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    flex: 1;
}

header div:nth-child(1){
    background-image: url('../image/bl.gif');
}
header div:nth-child(2){
    padding: 20px 40px 20px 40px;
    text-align: center;
    background-image: url('../image/bc.gif');
}
header div:nth-child(3){
    background-image: url('../image/br.gif');
}

header div:nth-child(2) > img{
    width: 292px;
    height: 100%;
    vertical-align: middle;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 0px 2px 0px rgba(0,0,0,0.75); 
  
}

#content{
    text-align: center;
}

#content div:first-child p{
    margin-top: 15px;
    line-height: 28.8px;
    font-size: 16px;
}

#footer-logo{
    margin-right: 10rem;
}

#content button#content-news{
    width: 800px;
    font-size: 24px;
    line-height: 36px;
    vertical-align: middle;
    background-color: rgb(33, 58, 143);
    padding: 10px;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 5px;
    box-shadow: 0 15px 30px 0 rgba(28, 78, 132, 0.4);
    cursor: pointer;
    outline: none;
    transition: 0.15s all;
    transition-timing-function: ease-in-out;
    
}

#content button#content-news:hover{
    background-color: rgb(251, 188, 51);
    outline: rgb(255, 0 ,0);
}

#content hr{
    width: 100%;
    position: relative;
    top: -20;
    z-index: -1;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

/* #contentGWallet div img, #contentSecurity div img{
    width: 100%;
    height: 100%;
}
#telLogo div img{
    width: 100%;
    height: 100%;
}
#contentVideoPR div iframe{
    width: 100%;
    height: 100%;
} */

#contentTitle h1{
    line-height: 64.8px;
}

#contentShopSearch h1{
    font-size: 36px;
}
#contentShopSearch div{
    flex: 0 0 45%;
}

#contentVideoPR div:last-child{
    margin-top: 140px;
    margin-bottom: 70px;
    margin-left: 15px;
    vertical-align: middle;
}
#contentVideoPR div:first-child iframe{
    width: 650px;
    height: 365px;
}
#logos{
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
#logos div img{
    width: 102px;
}

#footer-contact{
    margin-top: 30px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #213A8F;
}

#footer-contact div.container{
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
    margin-bottom: 12px;
}

#footer-contact div ul{
    display: flex;
    flex-wrap: nowrap;
}

#footer-contact ul a{
    list-style: none;
    display: inline-block;
    color: #ffffff;
    flex: 0 0 25%;
}

footer{
    width: 100%;
    background-color: #FAFAFA;
    padding: 30px;
    position: relative;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

footer div.footer-main{
    margin-top: 30px;
    margin-bottom: 80px;
}

.mr-24{
    margin: 24px;
    line-height: 32px;
}
.content-button{
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
    line-height: 27px;
    padding: 6px 12px 6px 12px;
    border: 4px solid #213A8F;
    border-radius: 5px;
    margin-top: 10px;
    background-color: #ffffff;
    color: #213A8F;
    font-weight: bold;
}
.content-button i{
    margin-left: 16px;
}
.row{
    width: 100%;
}
.flex-display{
    display: flex;
    flex-flow: nowrap;
}
.title{
    font-weight: 700;
    font-size: 18px;
    color: #333333;
}
.detail{
    margin-top: 15px;
    font-weight: 300;
    font-size: 18px;
    line-height: 32.4px;
}
.container{
    width: 80%;
    margin-top: 70px;
    margin-left: 120.500px;
    margin-right: 120.500px;
    padding-left: 15px;
    padding-right: 15px;
}

.box-element{
    margin-top: 1.5rem;
}

.footer-detail{
    max-width: 25%;
    padding: 0 15px;
    color: #333333;
}
.footer-detail h4{
    font-size: 16px;
    color: red;
}
.footer-detail p{
    font-weight: 300;
    font-size: 16px;
}
.footer-detail  a{
    text-decoration: none;
    color: #333333;
}

@media (max-width: 577px){
    h1{
        font-size: 30px;
    }
    h2{
        font-size: 24px;
        line-height: 31.2px;
    }
    .detail, span.title{
        font-size: 14px;
    }
    .container{
        margin-left: 0;
        margin-right: 0;
    }
    #logos{
        grid-template-columns: 1fr;
    }
    .flex-display{
        flex-wrap: wrap;
        width: 100%;
    }
    #content{
        padding-left: 8px;
        padding-right: 8px;
    }
    #content button#content-news{
        width: 100%;
        font-size: 18px;
        padding: 0;
    }
    iframe#video{
        width: 206px;
        height: 145px;
    }
    #contentGWallet div img, #contentSecurity div img{
        width: 100%;
        height: 100%;
    }
    #telLogo div img{
        width: 100%;
        height: 100%;
    }
    #contentVideoPR div{
        width: 100%;
    }
    #contentVideoPR div:first-child iframe{
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }
    #telLogo div img{
        width: 100%;
        height: 100%;
    }
    header div.header-el{
        flex: 0 0 33.33%;
        display: flex;
        max-width: 33.33%;
        text-align: center;
        align-items: center;
        padding: 6px;
    }
    header div.header-el img{
        width: 110px;
        height: 131px;
        vertical-align: middle;
        padding: 0;
        flex: 0 0 100%;
    }
    #contentShopSearch.flex-display, #contentGWallet.flex-display{
        flex-wrap: wrap-reverse;
    }
    #contentShopSearch div, #contentGWallet.flex-display div{
        margin-top: 22px;
        flex: 0 0 100%;
    }
    #appDownload{
        margin: 0;
    }
    #appDownload.flex-display img{
        width: 130px;
        margin: 0 auto;
    }
    #appUsage{
        width: 100%;
        text-align: center;
    } 
    #contentSecurity{
        text-align: center;
    }
    #footer-contact div ul{
        flex-wrap: wrap;
    }
    #footer-contact div ul a{
        margin-top: 12px;
        flex: 0 0 100%;
        font-size: 12px;
    }
    .footer-detail h4, .footer-detail p{
        font-size: 12px;
    }
    .footer-detail{
        margin-top: 20px;
        margin-bottom: 50px;
        max-width: 100%;
    }
}

@media (max-width: 800px){
    .detail, span.title{
        font-size: 18px;
    }
    .container{
        margin-left: 0;
        margin-right: 0;
        padding: 0 50px;
    }
    #logos{
        grid-template-columns: repeat(1fr, 6);
    }
    .flex-display{
        flex-wrap: nowrap;
        width: 100%;
    }
    #content{
        padding-left: 8px;
        padding-right: 8px;
    }
    #content button#content-news{
        width: 100%;
        font-size: 18px;
        padding: 0;
    }
    iframe#video{
        width: 206px;
        height: 145px;
    }
    #contentGWallet div img{
        width: 100%;
        height: 100%;
    }
    #contentSecurity div img{
        width: 100%;
        height: 50%;
    }
    #telLogo div img{
        width: 100%;
        height: 100%;
    }
    #contentVideoPR div{
        width: 100%;
    }
    #contentVideoPR div:first-child iframe{
        width: 100%;
        height: 50%;
        margin: 0 auto;
    }
    #telLogo div img{
        width: 100%;
        height: 100%;
    }
    header div.header-el{
        flex: 0 0 33.33%;
        display: flex;
        max-width: 33.33%;
        text-align: center;
        align-items: center;
        padding: 6px;
    }
    header div.header-el img{
        width: 110px;
        height: 131px;
        vertical-align: middle;
        padding: 0;
        flex: 0 0 100%;
    }
    #contentShopSearch.flex-display, #contentGWallet.flex-display{
        flex-wrap: wrap-reverse;
    }
    #contentShopSearch div, #contentGWallet.flex-display div{
        margin-top: 22px;
        flex: 0 0 50%;
    }
    #appDownload{
        margin: 0;
    }
    #appDownload.flex-display img{
        width: 130px;
        margin: 0 auto;
    }
    #appUsage{
        width: 100%;
        text-align: center;
    } 
    #contentSecurity{
        text-align: left;
    }
    #footer-contact div ul{
        flex-wrap: wrap;
    }
    #footer-contact div ul a{
        margin-top: 12px;
        flex: 0 0 100%;
        font-size: 12px;
    }
    .footer-detail h4, .footer-detail p{
        font-size: 14px;
    }
    .footer-detail{
        margin-top: 20px;
        margin-bottom: 50px;
        max-width: 100%;
        line-height: 22px;
        flex: 0 0 25%;
    }
    footer div.footer-main{
        margin-top: 30px;
        margin-bottom: 200px;
    }
    #footer-logo{
        margin-right: 2rem;
    }
}